h1.brand {
    color: White;
}

img {
    display: block;
    max-width: 15%;
}

.intro {
    display: flex;
    gap: 1rem;
}

body {
    background-color: rgb(49, 48, 48);
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

.brand {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    margin-bottom: 1.5rem;
    width: 100%;
    justify-content: space-around;
}

.intro, .products {
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(197, 194, 194);
}